# Dependencies
node_modules

# Build outputs
.next
dist
out

# Git
.git
.gitignore

# IDE
.vscode
.idea

# Environment files
.env
.env.*
!.env.example

# Turbo
.turbo

# Docker
docker-compose.yml
docker-compose.*.yml

# Desktop app
apps/desktop
apps/keylogger

# Docs
docs
README.md
*.md
